body {
    margin: 0;
    font-family: 'VT323', monospace;
    background-color: black;
    color: limegreen;
    font-size: 2em;
}


/* Display Wrappers */
.tip-calculator-wrapper {
    display: grid;
    justify-content: center;
}

.page-header, .subtotal-wrapper, .tip-wrapper, .tip-total-wrapper, .grand-total-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 75px;
}

#calculate-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 75px;
}

#page-border {
    border: solid limegreen;
    padding: 0 20px 20px 20px;
    margin: 10px 20px 20px 20px;
}

#total-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 75px;
}


/* Items */
.input {
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: .9em;
    padding: 0;
    border: solid limegreen;
    background-color: blue;
    color: white;
    margin-left: 25px;
}

.input:focus {
    outline: 0;
}

.tip, .tip-total, .subtotal, .grand-total {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    text-align: center;
    border: solid limegreen;
}

#tip-total-display, #grand-total-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: .9em;
    padding: 0;
    border: solid limegreen;
    background-color: blue;
    color: white;
    margin-left: 25px;
}


/* Button Styles */
.btn-styles {
    width: 170px;
    height: 60px;
    background-color: white;
    border: solid limegreen;
    color: limegreen;
    font-size: .9em;
    font-weight: 900;
    font-family: 'VT323', monospace;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.btn-styles:focus {
    outline: 0;
}

.btn-styles:hover {
    background-color: limegreen;
    color: white;
}

.btn-styles:active {
    background-color: #2f7a1a;
    transition: 0s;
}

#btn-reset {
    display: none;
    justify-content: center;
}